.form-center {
    margin-left: 34%;
    width: 50%;
  }

.my-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    background-color: white;
    border:1px solid #EEECEF;
}

.border-b {
  border: 1px dotted blue;
}

.border-r {
  border: 1px solid red;
}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

body{
  background-color: #FAFAFA;
}

