{% extends 'base.html' %}


{% block title %}
    Account
{% endblock %}

{% block main %}
</div class="my-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="account-heading">{{ current_user.username }}</h1>   
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="text-secondary">{{ current_user.email }}</p>
            </div> 
        </div>

        <div class="row">
            <div class="col-12">
                <form method="POST", action="/account">
                    {{ form.hidden_tag() }}
                    
                    <fieldset class="form-group">
                        <legend class="pt-2 border-bottom">Account Info</legend>
                            <div class="form-group">
        
                                <h6>{{ form.username.label(class="form-control-label")}}</h6>
        
                                <!-- check if field is invalid and then return errors in message to user-->   
        
                                {% if form.username.errors%}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
        
                            </div>
        
                            <div class="form-group">
                                <h6>{{ form.email.label(class="form-control-label")}}</h6>
                                <!-- check if field is invalid and then return errors in message to user-->   
        
                                {% if form.email.errors%}
                                {{ form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors%}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                    </fieldset>
        
                    <div>
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}