{% extends 'base.html' %}


{% block title %}
    Dividends
{% endblock %}

{% block main %}
    <div class="container">
        <form method="POST", action="/dividends" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <fieldset class="form-group">
                <legend class="pt-2 text-primary border-bottom mb-4"><h2>Upload File</h2></legend>

                <div class="form-group">
                    <h6>{{ form.csv.label(class="form-control-label")}}</h6>
                    {{form.csv(class="form-control-file")}}
                    <!-- different handling of errors for FileField-->
                    {% if form.csv.errors %}
                        {% for error in form.csv.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}                  
                    {% endif %}
                </div>
            </fieldset>

            <div>
                {{ form.submit(class="btn btn-primary") }}
                <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
        </form>
    </div>
    
    
    <div class="container mt-5">
        <div class="row">
            <legend class="pt-2 text-primary border-bottom mb-4"><h2>Dividends</h2></legend>
        </div>

        <div class="row">
            {% for row in dividends %}
                {{ row["Date"] }} {{ row["Currency"] }} {{ row["Symbol"] }} {{ row["WithholdInUSD"] }} </br>
            {% endfor %}
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <!-- special form to delete post-->
          <form  action="{{ url_for('delete_dividends_data')}}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}